/* Resetowanie stylów domyślnych */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Stylowanie nagłówka */
h1 {
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

/* Stylowanie paragrafu */
p {
  font-size: 1.5rem;
  margin-top: 2rem;
}

/* Stylowanie listy */
ul {
  font-size: 1.2rem;
  margin-top: 1rem;
}

/* Stylowanie formularza */
.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.form-control {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid gray;
  margin-right: 0.5rem;
  width: 75%;
  font-size: 1.2rem;
}

.btn {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  color: white;
  background-color: blue;
  font-size: 1.2rem;
  cursor: pointer;
}

.btn:hover {
  background-color: navy;
}
